{% extends "base.html" %}

{% block title %}Главная{% endblock %}

{% block content %}
<div class="main-content">
    <section class="card event-info">
        <h2>Фича "Библиотека Ресурсов"</h2>
        <p>Фича "Библиотека ресурсов с библиотеками из разных Языков Программирования" может быть чрезвычайно полезной.
            Эта функция может включать в себя название библиотеки, краткое описание, ее обзоры, документацию и примеры
            кода для библиотек на различных языках программирования.
        </p><br>
        <p class="green">+ Разработчики получают централизованный доступ ко всем основным библиотекам для различных
            языков программирования, что упрощает поиск и интеграцию необходимых инструментов в проекты.
        </p><br>
        <p class="green">+ Предоставление документации и примеров кода позволяет разработчикам быстрее освоить
            библиотеки и использовать их эффективно в своих проектах.
        </p><br>
        <p class="red">- Необходимо поддерживать актуальность информации в библиотеке ресурсов, так как библиотеки
            постоянно обновляются и изменяются, и устаревшая информация может привести к ошибкам и неэффективному
            использованию ресурсов.
        </p><br>
        <p class="red">- Качество документации может сильно зависить от того, кто их предоставляет, что может затруднить
            понимание и использование некоторых библиотек.
        </p><br>
        <a href="{{ url_for('resources') }}">Подробнее</a>
    </section>
    <section class="card event-info">
        <h2>Фича "Полезные ссылки"</h2>
        <p>Функция "Полезные ссылки" представляет собой секцию, где пользователи
            могут находить ссылки на обучающие видео с описанием и названием для удобства навигации. Эта фича позволяет
            пользователям легко находить видеоуроки и обучающие материалы по различным темам от организаторов.
        </p><br>
        <p class="green">+ Пользователи могут легко получить доступ к обучающим материалам, не выходя из платформы, что
            уменьшает время на поиск и упрощает процесс обучения.
        </p><br>
        <p class="green">+ Описание и название видео помогают пользователям оценить его содержание и выбрать наиболее
            подходящие для них материалы для обучения.
        </p><br>
        <p class="red">- Качество обучающих материалов может варьироваться, и не все видео будут полезными или
            информативными для пользователей.
        </p><br>
        <p class="red">- Видео могут устаревать со временем, особенно в быстро меняющихся областях, что может привести к
            тому, что некоторые ссылки станут непригодными для использования.
        </p><br>
        <a class="more" href="{{ url_for('support') }}">Подробнее</a>
    </section>
    <section class="card event-info">
        <h2>Фича "Карта навыков"</h2>
        <p>Функция "Карта Навыков" представляет собой инструмент для визуализации навыков и ролей участников команды или
            группы. Она включает в себя название команды, список участников с их фотографиями, именами, навыками,
            знанием языков и ролями в группе.
        </p><br>
        <p class="green">+ Карта навыков позволяет ясно представить, какие навыки обладает каждый участник команды, что
            помогает в эффективном распределении задач и определении компетенций.
        </p><br>
        <p class="green">+ Карта навыков помогает избежать дублирования усилий и оптимизирует использование ресурсов
            команды, распределяя задачи с учетом навыков каждого участника.
        </p><br>
        <p class="red">- Карта навыков может быть неэффективной в больших командах или в командах с переменным составом,
            где сложно поддерживать актуальность информации.
        </p><br>
        <p class="red">- Некоторые навыки или специализации могут быть сложно представить в виде карты навыков, особенно
            если они не поддаются четкой классификации или описанию.
        </p><br>
        <a href="{{ url_for('skills') }}">Подробнее</a>
    </section>
    <section class="card event-info">
        <h2>Фича "Контакты Профессионалов"</h2>
        <p>Функция "Контакты Профессионалов" представляет собой возможность в веб-сервисе сохранять
            контактные данные профессионалов, таких как ссылки на их профили в социальных сетях или профессиональные
            платформы. Эта функция помогает пользователям легко находить и связываться с нужными специалистами или
            экспертами.
        </p><br>
        <p class="green">+ Пользователи могут легко находить и контактировать с профессионалами, которые могут помочь им
            с конкретными вопросами или задачами.
        </p><br>
        <p class="green">+ Через контакты профессионалов пользователи могут обмениваться знаниями, опытом и ресурсами,
            что способствует их профессиональному росту.
        </p><br>
        <p class="red">- Контактные данные профессионалов могут устаревать со временем, что может привести к тому, что
            пользователи будут тратить время на попытки связаться с недействительными или недоступными контактами.
        </p><br>
        <p class="red">- Некоторые профессионалы могут предпочитать не делиться своими контактными данными или
            ограничивать доступ к ним, что может снизить полезность функции "Контакты Профессионалов" для пользователей.
        </p><br>
        <a href="{{ url_for('network') }}">Подробнее</a>
    </section>
    <section class="card event-info">
        <h2>Фича "Конференции Команды"</h2>
        <p>Функция "Конференции Команды" представляет собой возможность организации и участия в конференциях с
            профессионалами. В рамках этой функции пользователи могут получать оповещение о предстоящей конференции, а
            также ссылку на конференцию.
        </p><br>
        <p class="green">+ Функция "Конференции команды" обеспечивает эффективную рассылку всем командам о времени и
            дате проведения конференции со ссылкой на саму конференцию.
        </p><br>
        <p class="red">- Если организатор конференции недоступен или отсутствует, это может привести к задержкам или
            отмене мероприятия, что может повлиять на работу команды.
        </p><br>
        <a href="{{ url_for('webinars') }}">Подробнее</a>
    </section>
</div>
{% endblock %}
