{% extends "base.html" %}

{% block title %}Авторизация{% endblock %}


{% block stylesheet %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

{% block content %}
<div class="login-container">
    <div class="login-card">
        <h1>Sign In</h1>
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <p>
                {{ form.username.label }}<br>
                {{ form.username(size=32, class_='input-field') }}<br>
                {% for error in form.username.errors %}
                <span class="error">Это поле необходимо.</span>
                {% endfor %}
            </p>
            <p>
                {{ form.password.label }}<br>
                {{ form.password(size=32, class_='input-field') }}<br>
                {% for error in form.password.errors %}
                <span class="error">Это поле необходимо.</span>
                {% endfor %}
            </p>
            <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
            <p>{{ form.submit(class_='submit-button') }}</p>
        </form>
    </div>
</div>
{% endblock %}
